.single {
  min-height: calc(100vh - 140px);
  width: 100%;
  display: flex;
  align-items: center;
  &__inner {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 60px;
    &__left {
      position: relative;
      width: 50%;
      img {
        object-fit: contain;
        object-position: right;
      }
    }
    &__right {
      width: 50%;
      .type {
        color: var(--main-color);
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 25px;
      }
      .name {
        margin-bottom: 30px;
        width: 520px;
        display: flex;
        justify-content: space-between;
        span{
            color: #F8501A;
        }
      }
      .optionals {
        display: flex;
        gap: 40px;
        margin-bottom: 20px;
        .optional {
          display: flex;
          align-items: center;
          span {
            font-size: 16px;
          }
          gap: 5px;
        }
      }
      .main {
        border-radius: 2px;
        padding: 25px 20px;
        display: flex;
        justify-content: space-between;
        width: 520px;
        margin-bottom: 55px;
        background-color: white;
        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 15px;
          li {
            font-size: 13px;
            font-family: --inter;
          }
        }
      }
      .buttons{display: flex;
        height: 56px;
        gap: 10px;
        .to-cart{
            border-radius: 2px;
            display: flex;
            align-items: center;
            gap: 10px;
            color: white;
            background-color: var(--main-color);
            padding: 0 30px;
            line-height: 56px;
        }
        .share{
            border-radius: 2px;
            display: flex;
            align-items: center;
            gap: 10px;
            color: #282828;
            background-color: white;
            padding: 20px 30px;
        }
      }
    }
  }
}
