.single {
  min-height: calc(100vh - 140px);
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 120px;
  &__inner {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 60px;
    &__left {
      position: relative;
      width: 50%;
      img {
        object-fit: contain;
        object-position: right;
      }
    }
    &__right {
      width: 50%;
      .type {
        color: var(--main-color);
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 25px;
      }
      .name {
        margin-bottom: 30px;
        width: 520px;
        display: flex;
        justify-content: space-between;
        span {
          color: #f8501a;
        }
      }
      .optionals {
        display: flex;
        gap: 40px;
        margin-bottom: 20px;
        .optional {
          display: flex;
          align-items: center;
          span {
            font-size: 16px;
          }
          gap: 5px;
        }
      }
      .main {
        border-radius: 2px;
        padding: 40px 80px 40px 40px;
        display: flex;
        justify-content: space-between;
        width: 520px;
        margin-bottom: 55px;
        background-color: white;
        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 15px;
          li {
            font-size: 13px;
            font-family: --inter;
          }
        }
      }
      .buttons {
        display: flex;
        height: 56px;
        gap: 10px;
        .to-cart {
          border-radius: 2px;
          display: flex;
          align-items: center;
          gap: 10px;
          color: white;
          background-color: var(--main-color);
          padding: 0 30px;
          line-height: 56px;
          width: 220px;
        }
        .to-cart-btns {
          height: 56px;
          width: 220px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            font-size: 20px;
          }
          button {
            color: var(--main-color);
            border: 1px solid var(--main-color);
            background-color: white;
            width: 56px;
            height: 56px;
            font-size: 20px;
            display: grid;
            place-items: center;
            transition: all 0.3s linear;
            &:hover {
              background-color: var(--main-color);
              color: white;
            }
          }
        }
        .share {
          border-radius: 2px;
          display: flex;
          align-items: center;
          gap: 10px;
          color: #282828;
          background-color: white;
          padding: 20px 30px;
        }
      }
    }
  }

  .control {
    position: fixed;
    bottom: 40px;
    left: 50%;
    translate: -50%;
    gap: 5px;
    display: flex;
    &__menu {
      display: flex;
      height: 44px;
      .burger {
        border: 1px solid #0000000d;
        border-radius: 2px;
        background-color: white;
        box-shadow: 0px 8px 20px -10px #00000026;
        display: flex;
        height: 44px;
        width: 117px;
        font-size: 22px;
        justify-content: center;
        gap: 14px;
        align-items: center;
        cursor: pointer;
        &__icon {
          display: flex;
          flex-direction: column;
          gap: 4px;
          padding: 6px 0;
          height: 20px;
          width: 20px;
          span {
            height: 2px;
            width: 20px;
            transform-origin: 40%;
            background-color: black;
            transition: all 0.3s linear;
          }
        }
        &:hover {
          .burger__icon {
            span {
              &:nth-child(1) {
                transform: rotate(45deg) translateY(2px);
              }
              &:nth-child(2) {
                transform: rotate(-45deg) translateY(-2px);
              }
            }
          }
        }
      }
    }
    &__cart {
      border-radius: 2px;
      border: 1px solid #0000000d;
      background-color: white;
      box-shadow: 0px 8px 20px -10px #00000026;
      cursor: pointer;
      width: 44px;
      height: 44px;
      display: grid;
      place-items: center;
      transition: all 0.4s linear;
      &:hover {
        background-color: var(--main-color);
        border: none;
        svg {
          path {
            stroke: white;
          }
        }
      }
    }
    &__filter {
      overflow: hidden;
      display: flex;
      height: 44px;
      width: 361px;
      background-color: white;
      padding: 0 6px;
      border-radius: 2px;
      list-style: none;
      color: black;
      box-shadow: 8px 0px 20px -10px #00000026;
      transition: all 0.3s linear;
      li {
        display: flex;
        align-items: center;
        opacity: 1;
        transition: all 0.3s linear;
        button {
          padding: 10px;
          font-size: 18px;
          gap: 10px;
          display: flex;
          align-items: center;
          background: none;
          white-space: nowrap;
        }
      }
    }
    .open-filter {
      width: 111px;
      li {
        &:not(:first-child) {
          opacity: 0;
        }
      }
    }
  }
}
